# Ambientes Virtuais e Cache Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Diretórios de Dados e Bancos Vetoriais do seu projeto
qdrant_db/
parent_store/
markdown/
markdown_docs/
docs/
logs/

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db
